/* .btn {
    border-radius: 0;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:42px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
} 

 .btn--primary {
    background-color: rgb(85,88,237);
} 

.btn--secondary{
    background-color: rgb(80,82,84);
} 

.btn--small{
    font-size: 14px;
}

.btn--medium{
    font-size: 18px;
}  */


.myBtn {
    border-radius: 100%;
    padding: 5px 15px;
    background-color: rgb(85,88,237);
    font-size: 14px;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
}